@{
  Layout = "_Layout";
}
@using MessageClient.Models
@model MessageClient.Models.Message

<h4>Add a Message</h4>

@using (Html.BeginForm())
{
  @Html.Label("Title")
  @Html.TextBoxFor(model => model.Title)
  @Html.Label("Message Body")
  @Html.TextBoxFor(model => model.Body)
  @Html.Label("Author")
  @Html.TextBoxFor(model => model.Author)
  @Html.Label("Select Group Category")
  @Html.DropDownList("GroupId")
  <input type="submit" value="Add New Message">
}
