@* @{
	Layout = "_Layout";
}

@model MessageClient.Models.Message

<h3>@Model.Title</h3>
<h4>Posted @Model.Date by @Model.Author</h4>
<p>@Model.Body</p>

@using (Html.BeginForm("Delete", "Messages", FormMethod.Post))
{

	@Html.Hidden("id", (int) Model.MessageId)
	<input type="submit" value="Delete Message" onclick="return confirm('Are you sure you would like to delete this message?')"/>
	
} *@