@{
	Layout = "_Layout";
}
@using PdxLocalBusinessesClient.Models

<h2>All Businesses</h2>

<ul>
	@foreach (Business business in Model)
	{
		<li>
			<p><strong>@Html.ActionLink($"{@business.Name}", "Details", new {id = business.BusinessId})</strong> - @business.Neighborhood.Name @business.Description | @business.PhoneNumber</p>
		</li>
		<br>
	}
</ul>

<p>@Html.ActionLink("Create new Business", "Create")</p>